.decore-wrap {
  .title {
    font-size: 24px;
    margin-bottom: 0;
    text-align: center;
  }
}
.decore {
  width: 200px;
  display: flex;
  justify-content: center;
  margin: 20px auto 40px;

  &::before,
  &::after {
    content: '';
    width: 60px;
    height: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  img {
    width: 29px;
    height: 28px;
  }
}